{% extends "base.html" %}
{% load static %}

{% block header %}

<nav id="main-navigation">
    <a class="main-nav-ref" id="musicians-ref" href="#">Исполнители</a>
    <a class="main-nav-ref" id="styles-ref" href="#">Стили</a>
    <a class="main-nav-ref" id="clubs-ref" href="#">Клубы</a>
</nav>

{% endblock header %}

{% block body %}

<div class="quote-container">

    <div class="quote-wrapper">
        {% include "home/includes/quote.html" %}
    </div>

    <div class="quote-navigation-wrapper">
        <a class="quote-previous-wrapper" data-quote-id="{{ current_quote.id }}">
            <svg viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z" fill="#ffffff" />
            </svg>
        </a>
        <a class="quote-next-wrapper" data-quote-id="{{ current_quote.id }}">
            <svg viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z" fill="#ffffff" />
            </svg>
        </a>
    </div>

</div>

{% endblock body %}