html {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
}   

.quote-container {
    width: 1400px;
    display:block;
}

.quote-next-wrapper, .quote-previous-wrapper {
    width: 80px;
    height: 80px;
} 

.quote-navigation-wrapper {
    width: 250px;
    height: 90px;
    margin: -90px auto;
    display: flex;
    justify-content: space-between;
}

.quote-next-wrapper:hover svg path, .quote-previous-wrapper:hover svg path {
    fill:rgb(24, 246, 246);
}

.quote-wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    text-align: center;
}

.quote-text {
    color:aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    margin: 150px auto;
    max-width: 1000px;

    display: inline-flex;
    flex-direction: column;

    padding: 50px 80px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;

    text-align: center;
}

.quote-author {
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-align: right;
    padding-top: 20px;
}

#quote-next-navigation {
    color:aliceblue;
}

.navbar {
    align-items: center;
    display: flex;
    margin: 30px auto;
    height: 200px;
    width: 80%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}


#main-title {
    font-family: "Abril Fatface", serif;
    font-size: 90px;
    font-weight: 500;
    color:aliceblue;
}

#main-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

#main-navigation {
  text-align: right;
  height: 100vh;
  width: 70vw;
  min-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.main-nav-ref {
    position: relative;
    text-decoration: none;
    color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
}

.main-nav-ref:after {
    content: "";
    position: absolute;
    background-color: rgb(24, 246, 246);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}   

.main-nav-ref:hover:after {
    width: 100%;
}

ul {
    list-style-type: none;
}
