{% extends "base.html" %}
{% load static %}
{% load musicians_extras %}

{% block header %}

<a class="main-nav-ref" id="styles-ref" href="{% url 'home' %}">На главную</a>

{% endblock header %}

{% block body %}

<div class="musician-list-container">

    <div class="musicians-list-wrapper">
        
        {{ musicians_dict.count }}

        {% for key, value in musicians_dict.items %}

            <div class="musician-letter-wrapper">

                <h2 class="musicain-letter-title">{{ key }}</h2>

                <ul class="musicians-letter-list">

                    {% for musician in value %}
                    <li class="musician-li">
                        <a class="musician-name-ref" href="{% url 'musicians:show_musician' musician.slug %}">{{ musician.first_name }} {{ musician.last_name }}</a>
                    </li>
                    {% endfor %}

                </ul>

            </div>

        {% endfor %}

    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="first_page" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; Первая</a>
                <a class="previous_page" href="{% my_url page_obj.paginator.previous_page_number 'page' request.GET.urlencode %}">
                {{ page_obj.previous_page_number }}</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }}
            </span>

            {% if page_obj.has_next %}
                <a class="next_page" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">{{ page_obj.next_page_number }}</a>
                <a class="last_page" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock body %}
