{% extends "base.html" %}
{% load static %}
{% load musicians_extras %}

{% block header %}

<a class="main-nav-ref" id="styles-ref" href="{% url 'home' %}">На главную</a>

{% endblock header %}

{% block body %}

<div class="musicians-page-container">

    <form class="musicians-filters-form" action="{% url 'musicians:musicians_list' %}" method="get">

        <h2 class="musicians-filters-main-title">Фильтры</h2>

        <h2 class="musicians-filters-title">Инструмент:</h2>
        <div class="box">
            <select class="filters-select" id="instrument-filter-select" name="instrument-filter">
                <option></option>
                {% for instrument in instruments %}
                    <option>{{ instrument.name }}</option>
                {% endfor %}
            </select>
        </div>

        <h2 class="musicians-filters-title">Стиль:</h2>
        <div class="box">
            <select class="filters-select" id="genre-filter-select" name="genre-filter">
                <option></option>
                {% for genre in genres %}
                    <option>{{ genre.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="filters-submit-button" type="submit">Применить</button>
    </form>

    <div class="musician-list-wrapper">

        <div class="musicians-list">
            
            {% for key, value in musicians_dict.items %}

                <div class="musician-letter-wrapper">

                    <h2 class="musicain-letter-title">{{ key }}</h2>

                    <ul class="musicians-list-ul">
                    {% for musician in value %}
                        <li>
                            <a class="musician-name-ref" href="{% url 'musicians:show_musician' musician.slug %}">{{ musician.first_name }} {{ musician.last_name }}</a>
                        </li>
                    {% endfor %}
                    </ul>

                </div>

            {% endfor %}

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="first_page" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; Первая</a>
                    <a class="previous_page" href="{% my_url page_obj.paginator.previous_page_number 'page' request.GET.urlencode %}">
                    {{ page_obj.previous_page_number }}</a>
                {% endif %}
    
                <span class="current">
                    {{ page_obj.number }}
                </span>
    
                {% if page_obj.has_next %}
                    <a class="next_page" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">{{ page_obj.next_page_number }}</a>
                    <a class="last_page" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

</div>

{% endblock body %}
