{% extends "base.html" %}
{% load static %}

{% block header %}

<a class="main-nav-ref" id="styles-ref" href="{% url 'musicians:musicians_list' %}">Назад</a>

{% endblock header %}

{% block body %}

<div class="musician-article-container">
    <p class="musician-article-title">{{ musician }}</p>
    <text class="musician-article-text">
        <img src="{{ musician.image.url }}" alt="{{ musician }}" class="genre-article-image">    
        {{ musician.biography }}
    </text>
</div>

{% endblock body %}