{% extends "base.html" %}
{% load static %}
{% load clubs_extras %}

{% block header %}

<a class="main-nav-ref" id="styles-ref" href="{% url 'home' %}">На главную</a>

{% endblock header %}

{% block body %}

<div class="clubs-page-container">

    <form class="clubs-filters-form" action="{% url 'clubs:clubs_list' %}" method="get">

        <h2 class="clubs-filters-main-title">Фильтры</h2>

        <h2 class="clubs-filters-title">Страна:</h2>
        <div class="box">
            <select class="filters-select" id="country-filter-select" name="country-filter">
                <option></option>
                {% for country in countries %}
                    <option>{{ country }}</option>
                {% endfor %}
            </select>
        </div>

        <h2 class="clubs-filters-title">Город:</h2>
        <div class="box">
            <select class="filters-select" id="city-filter-select" name="city-filter">
                <option></option>
                {% for city in cities %}
                    <option>{{ city }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="filters-submit-button" type="submit">Применить</button>
    </form>

    <div class="clubs-list-outer-wrapper">
        <div class="clubs-list-wrapper">

            {% for club in clubs %}

            <div class="club-element">

                <div class="club-name">{{ club.name }}</div>
                <div class="club-global-address">{{ club.country }}, {{ club.city }}</div>
                <div class="club-local-address">{{ club.address }}</div>

            </div>

            {% endfor %}

        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="first_page" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; Первая</a>
                    <a class="previous_page" href="{% my_url page_obj.paginator.previous_page_number 'page' request.GET.urlencode %}">
                    {{ page_obj.previous_page_number }}</a>
                {% endif %}

                <span class="current">
                    {{ page_obj.number }}
                </span>

                {% if page_obj.has_next %}
                    <a class="next_page" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">{{ page_obj.next_page_number }}</a>
                    <a class="last_page" href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</div>

{% endblock body %}